* {text-align: center;
}

.title {font-family: Verdana, Arial, sans-serif;
        font-size: 2.25em;


}

.subtitle {font-family: Verdana, Arial, sans-serif;
            font-size: 1.75em;

}

.blog { font-family: sans-serif;
        font-size: 1em;
        margin-left: 15%;
        margin-right: 15%;
        text-align: justify;

}

.date {font-family: sans-serif;
        font-size: 1em;

}