/*Nav bar css*/

html {
  font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
  background: #C6EAF4;
}

.site-title {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 5%;
  font-size: 3.1em;
  font-family: 'Damion', cursive;
  margin-top: .5em;
}

ul#nav {
  list-style-type: none;
  margin:0;
  padding:0;
  position: relative;

}


li {
  display: inline-block;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;

}

li a {
  display:block;
  min-width:165px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #fff;
  background: #2f3036;
  text-decoration: none;
  border-radius: 5px;

}

li:hover a {
  background: #1695A3;
  color: black;
  opacity: 0.9;
}

.site-title {
  color: #0CA0B2;
}

#main-menu {
  margin-top: 2%;
}

/*main menu break*/
li.break {
  margin-top: 0%;
  margin-left: 10%;
  width: 80%;
}

/*Table css*/

table.main {
  
  position: relative;
  width: 90%;
  top: 4.5em;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
  text-align: left-justify;

}

.break {
  height: 0px;
  margin-left: 17.5%;
  width: 65%;
  border: 1px solid white;
  display: block;
}

/*clickable table data*/
td a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #B25009;
  padding: 0px;
}
/*end clickable data*/

 .preview {
  display: block;
  padding: 3%;
  border: none;
  width: 50%;
  /*max-height: 60%;*/
  margin: 5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  overflow: hidden;
 

}

.preview:hover {
  background: white;
  overflow-y: scroll;
  width: 50vw;
  display: block-inline;
  max-height: 60%; /* toggle */
}

.picture {
  width: 50%;
  height: 50%;
  text-align: center;
  overflow: hidden;
}

img {
  position: relative;
  left: 100%;
  margin-left: -200%;
}
